* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

[class*="col-"] {
	float: left;
	padding: 15px;
}

html {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background: #f2f2f2;
}

h1 {
	font-weight: normal;
}

h2 {
	font-weight: normal;
}

h3 {
	font-weight: normal;
}

hr {
	border: none;
	height: 1px;
	color: #ccc;
	background: #ccc;
	margin-top: 15px;
	margin-bottom: 15px;
}

a {
	color: #33b5e5;
	text-decoration: none;
}

a:hover {
	color: #0099cc;
}

button {
	background: #f2f2f2;
	border: 2px solid #33b5e5;
	border-radius: 4px;
}

button.warning {
	border-color: #b30000;
}

button a {
	padding: 8px 15px;
	font-size: 16px;
	color: black;
	text-decoration: none;
	display: block;
}

button a:hover {
	color: white;
	background: #33b5e5;
}

button.warning a:hover {
	background: #b30000;
}

form button {
	background: #f2f2f2;
	width: 100%;
	border: 2px solid #33b5e5;
	border-radius: 4px;
}

form button a {
	padding: 5px 15px;
	font-size: 16px;
	color: black;
	text-decoration: none;
	display: block;
}

form button a:hover {
	color: white;
	background: #33b5e5;
}

form select {
	padding: 5px 15px;
	background: #f2f2f2;
	font-size: 16px;
	width: 100%;
	border: 2px solid #33b5e5;
	border-radius: 4px;
}

input[type=text], input[type=password] {
	margin-top: 5px;
	margin-bottom: 15px;
	padding: 5px;
	font-size: 16px;
	width: 100%;
	border: 2px solid #33b5e5;
	border-radius: 4px;
	display: block;
}

input[type=text]:focus, input[type=password]:focus {
	font-size: 16px;
	border: 2px solid #0099cc;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.header {
	margin: 0 15px 0 15px;
	border-bottom: 1px solid #ccc;
}

.header .banner {
	background: #f2f2f2;
}

.header .banner p {
	color: #b30000;
	font-size: 48px;
	line-height: 1;
	display: inline-block;
	text-shadow: 1px 2px 2px rgba(0,0,0,0.24);
}

.header .account {
	text-align: center;
	height: 100%;
	display: none;
}

.header .accountlinks {
	margin: 15px;
	float: right;
}

.header .account a {
	color: black;
	text-align: center;
	text-decoration: none;
	display: block;
}

.header .account a.icon {
	font-size: 48px;
}

.header .account a:hover {
	color: #b30000;
}

.menu a {
	padding: 14px 16px;
	color: black;
	text-decoration: none;
	display: block;
}

.menu a:hover {
	background: #ccc;
}

.menu .active {
	background: #33b5e5;
	color: white;
}

.menu a.active:hover {
	background: #0099cc;
}

.menuheader {
	overflow: hidden;
	padding: 15px;
	border-bottom: 1px solid #ccc;
	display: block;
}

.menutitle {
	font-size: 24px;
	float: left;
	display: block;
}

.menubutton {
	float: right;
	display: block;
}

.menubutton a {
	padding: 8px 15px;
}

.menubutton a:hover {
	background: #33b5e5;
}

.scrollmenu {
	display: none;
}

.menuitems {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	width: 100%;
}

.listtitle {
	font-size: 24px;
	display: block;
}

.listitems {
	border-top: 1px solid #ccc;
	width: 100%;
}

.listitem {
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	width: 100%;
}

.listitem p {
	padding: 15px;
	float: left;
	display: block;
}

.listitem a {
	padding: 15px;
	float: right;
	display: block;
}

.listitem a:hover {
	color: white;
	background: #33b5e5;
}

.listitem a.warning {
	color: #b30000;
}

.listitem a.warning:hover {
	color: white;
	background: #b30000;
}

.data {
	padding-left: 15px;
	padding-right: 15px;
}

.data h1 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.data h2 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.data h3 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.data ul {
	margin-left: 30px;
	font-size: 14px;
}

.aside {
	background: #33b5e5;
	padding: 15px;
	color: white;
	text-align: center;
	font-size: 14px;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
	padding: 15px;
	color: #888;
	text-align: center;
	font-size: 12px;
	border-top: 1px solid #ccc;
}

.footnote {
	color: #888;
	font-size: 10px;
	text-align: right;
}

/* For mobile phones: */
[class*="col-"] {
	width: 100%;
}

@media only screen and (min-width: 600px) {
	/* For tablets: */
	.header .banner p {line-height: 2.5;}
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
	/* For desktop: */
	.header .banner p {line-height: 2.5;}
	.mobile {display: none;}
	.header .account {display: inline;}
	.menu {margin: 0;padding: 15px 0 15px 15px;border-right: 1px solid #ccc;}
	.mobileexpand {display: none;}
	.scrollmenu {display: inline;}
	.menuitems {border: none;height: 60vh;overflow: scroll;}
	.listitems {padding-left: 15px;border: 1px solid #ccc;max-height: 54vh;overflow: scroll;}
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}
