/* Global */

h1 {
	font-size: xx-large;
	font-weight: bold;
	margin: 0;
}

h2 {
	font-size: 48px;
	font-weight: bold;
	margin: 0;
}

h3 {
	font-size: large;
	font-weight: bold;
	margin: 0;
}

p {
	padding: 0;
	margin: 0;
}

a {
	color: #a93226;
	text-decoration: none;
}

a:hover {
	color: #52be80;
}

ul {
	padding: 0;
	margin: 0;
}

/* Header */

header {
	padding: 0;
	margin: 0;
}

header section {
	padding: 0;
	margin: 0;
}

header #banner {
	color: #dddddd;
	background-color: #a93226;
	border-color: #000000;
	border-style: solid;
	padding: 10px;
}

header #banner-links {
	font-size: x-large;
}

header #banner a {
	text-decoration: none;
	color: #52be80;
	font-weight: bold;
}

header #banner a:hover {
	color: #dddddd;
}

header #nav {
	color: #dddddd;
	background-color: #a93226;
	border-color: #000000;
	border-style: solid;
	border-top: 0;
	padding: 0;
	margin: 0;
}

header #nav ul {
	list-style-type: none;
	overflow: hidden;
}

header #nav li {
	float: left;
	display: inline;
}

header #nav .nav-button-active a {
	display: block;
	background-color: #52be80;
	color: #000000;
	padding: 10px;
}

header #nav .nav-button a {
	display: block;
	color: #dddddd;
	padding: 10px;
}

header #nav .nav-button a:hover {
	background-color: #52be80;
	color: #000000;
	padding: 10px;
}

/* Body */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: medium;
	padding: 0;
	margin: 0;
	background: #dddddd;
	color: #000000
}

body #data {
	border-style: solid;
	border-top: 0;
	padding: 20px;
	min-height: 500px;
	text-align: center;
}

/* Footer */

footer {
	color: #dddddd;
	background-color: #a93226;
	border-color: #000000;
	border-style: solid;
	border-top: 0;
	padding: 10px;
	text-align: right;
}

