* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.secretsanta {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 500px;
	padding: 15px;
	border: 1px solid #ccc;
}

.secretsanta p {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 14px;
}

.secretsanta form select {
	width: 100%;
	margin-bottom: 15px;
}

.secretsanta button {
	width: 100%;
	box-shadow: none;
}

.secretsanta button a {
	padding: 5px 15px;
}

.rulelist {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
	width: 100%;
}

.rule {
	overflow: hidden;
	width: 100%;
}

.rule p {
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	display: block;
	float: left;
}

.rulelist a {
	padding: 15px;
	display: block;
	float: right;
}

.rulelist a:hover {
	color: white;
	background: #33b5e5;
}

.rulelist a.warning {
	color: #b30000;
}

.rulelist a.warning:hover {
	color: white;
	background: #b30000;
}

